@font-face {
    font-family: Tommy;
    src: url("MADE\ Tommy\ Soft\ Regular\ PERSONAL\ USE.otf");
}

@font-face {
    font-family: Carita;
    src: url("Carita\ Regular.otf");
}

body {
  background-color: rgb(239,245,241);
  margin: 0;
}

h1 {
    font-family: Tommy;
    font-size: 90px;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
}

h2 {
    font-family: Tommy;
    font-size: 48px;
    margin-bottom: 0px;
}

p {
    font-family: Carita;
}

.form-group {
  font-family: Carita;
}

.navbar ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(153,172,193);
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: Carita;
}

.navbar li a:hover {
  background-color: rgb(239,245,241);
}

.site-footer
{
  background-color:rgb(153,172,193);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:black;
}

.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.copyright-text
{
  font-family: Carita;
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    align-items: center;
    justify-content: center;
  }

h3 {
    font-family: Tommy;
    font-size: 32px;
    padding: 0px;
    margin-bottom: 0px;
}

.container{
  padding-top: 3%;
  text-align: center;
}
.row{
  text-align: center;
  height: 40%;
  display: flex;
}

.image{
  margin: auto;
}
img{
  height: 50%;
  width: 50%;
}